body{
    background-color: rgb(142, 112, 40);
    padding: 5px;
}
h2{
        display: flex;
        left: 60px;
        position: relative;
        color:rgb(233, 239, 244);
        font-family: 'Courier New', Courier, monospace;
}

.cabecalho{
    padding: 1%;
    margin: 1%;
    border: 2px solid;
    color: azure;
    background-color: black;
}

li{
    display: inline;
    padding: 2%;
    background-color: black;
   
}
ul{
    background-color: black;
 
}


.cardapio{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: 2px solid;
    border-color: azure;
    color: aliceblue;
    width: 30rem;
    height: 35rem;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
   
}
.prato{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: 2px solid;
    border-color: azure;
    color: aliceblue;
    width: 30rem;
    height: 35rem;
    position: relative;
    padding: 10px;
    margin: 5px;
    font-size: 16px;

 
} 
.sobremesa{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: 2px solid;
    border-color: azure;
    color: aliceblue;
    width: 30rem;
    height: 35rem;
    position: relative;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
 
}
.bebidas{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: 2px solid;
    border-color: azure;
    color: aliceblue;
    width: 30rem;
    height: 35rem;
    position: relative;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
   
}

.container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    height: 700px;
}

.btn{
    cursor: pointer;
}

.logo{
    left: 9%;
    position: relative; 
}