body{
    background-color: rgb(86, 48, 23);
}
h1{
    font-family:Arial, Helvetica, sans-serif;
}

.container2{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    }

    .input2{
        display: flex;
        left: 60%;
    }
.btn{
    cursor: pointer;
}
input:focus{
    border: 1px solid;
}
.btn{
    cursor: pointer;
}